/* place profile right to research interst */
.total {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.container1 {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.profile {
    width: 50%;
    height: 50%;
    /* float: left; */
    margin-right: 10px;
}
.item1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}


/* .RIlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
